
@{ ViewBag.Title = "Dashboard"; Layout = "~/Views/Shared/_Layout.cshtml";}


@{ 

    if (Session["AuthorizedName"] != null && Session["AuthorizedToken"] != null && Session["AuthorizedRole"] != null && Session["CompanyID"] != null)
    {
        string AuthorizedName = Session["AuthorizedName"].ToString();
        string AuthorizedToken = Session["AuthorizedToken"].ToString();
        string AuthorizedRole = Session["AuthorizedRole"].ToString();
        string CompanyID = Session["CompanyID"].ToString();
    }
    else
    {
        Response.Redirect(Url.RouteUrl(new { controller = "Login", action = "Login"}));
    }

}
<h2>Dashboard</h2>

